/* For main container */
.main_container {
  width: 40%;
  margin: 1% auto;
  padding: 2%;
}

/* Input */
.digit_input {
  width: 40%;
  margin: auto;
}

/* This is for positioning of modal button */
.position {
  margin: 15% auto auto auto;
}

/* This is for heading for enter your code */
.head {
  text-align: left;
}

/*For inputs   */
.input_container {
  text-align: left;
}

/* Individual input */
.input {
  width: 7%;
  margin: 2%;
}

/* Timer heading */
.timer {
  color: red;
  margin-left: 40%;
}

.loader {
  color: green;
  float: right;
  margin: 1% 5% 0% 0%;
}

/* resend heading */
.resend_class {
  margin: 4% auto auto auto;
  display: flex;
}

/* Remaing attemps heading */
.attempts_class {
  margin-left: 2%;
}

/* Resend OTP button */
.resend {
  background: none;
  border: none;
  margin: -3% 0 0 0;
}

/* Error message */
.resend_alert {
  color: red;
}

/* Success message */
.resend_success {
  color: green;
}
