.App {
  text-align: center;
}
.position {
  margin: 15% auto auto auto;
}
.head {
  text-align: left;
}
.input_container {
  text-align: left;
}
.input {
  width: 7%;
  margin: 2%;
}
.timer {
  color: red;
  margin-left: 40%;
}
.resend_class {
  display: flex;
}
.attempts_class {
  margin-left: 2%;
}
.disable {
  cursor: none;
  color: lightgray;
}
.resend {
  background: none;
  border: none;
  color: rgb(19, 126, 247);
  margin: -3% 0 0 0;
}
.resend_alert {
  color: red;
}
.resend_success {
  color: green;
}
